
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$ease-blue: #4B667F;
$nav-selected: #C5E6EE;
$border-grey: #B6B6B7;

//margins
$container-width: 80vw;