// Variables
@import 'variables';

//style
.menu{
    position: relative;
    display: flex;
    width: 80vw;
    height: 40px;
    margin: auto;
    border: 2px solid $ease-blue;
    border-radius: 50px;
    align-items: center;
}

.menu .menuOptions--option{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.menu .menuOptions--option a{
    font-size: 1.2em;
    color: $ease-blue;
    text-decoration: none;
}

.menu .selected a{
    color: white;
}

.menu .selector{
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 100%;
    background-color: $ease-blue;
    border-radius: 50px;
    top: 0px;
    left: 0px;
    transition: left 0.5s ease;
}