// Variables
@import 'variables';

//style

.header{
    position: relative;
    width: 100vw;
    height: 40vh;
    background-image: url(/img/register_img.jpg);
    background-size: cover;
    background-position: center;
}

.wave{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 10vh;
    background-image: url(/img/decoration_wave.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    position: absolute;
    z-index: 1;
    width: 35vw;
    left: calc(65vw / 2);
    top: 25vh;
}

.statsWrapper{
    width: 100vw;
    margin: 15vh auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.statsWrapper .statsWrapper--userStat--title{
    margin-bottom: 5px;
    font-size: 0.8em;
    color: rgb(104, 104, 104);
}

.statsWrapper .statsWrapper--userStat--value{
    font-weight: bold;
}

.CTA_bg{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.btn--CTA{
    position: absolute;
    bottom: 10vh;
    padding: 5px 15vw;
}
