// Variables
@import 'variables';

//style

.header{
    position: relative;
    width: 100vw;
    height: 40vh;
    background-image: url(/img/register_img.jpg);
    background-size: cover;
    background-position: center;
}

.wave{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 10vh;
    background-image: url(/img/decoration_wave.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    position: absolute;
    z-index: 1;
    width: 35vw;
    left: calc(65vw / 2);
    top: 25vh;
}

.CTA_bg{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.btn--CTA{
    position: absolute;
    bottom: 30vh;
    padding: 5px 15vw;
}
