// Variables
@import 'variables';

body{
    background: black;
}
.input_relax label > input{
    visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.input_relax label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
    
  }

label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}
/*
.btn--relax{
    width:20%;
}


.input_relax label  
{
    padding: 10px 10px;
    margin:10px;
    border: none;
    background-color:$nav-selected;
    display:inline-block;
    color:white;
    border-radius:5px;
  
}


.input_relax label > input:checked + label 
{
    background-color: green;
    -webkit-box-shadow: none;
    box-shadow: none;
    color:yellow
}
.input_relax label > input:hover + label {
    background-color: yellow;
    -webkit-box-shadow: none;
    box-shadow: none;
}
*/

.relax .btn--CTA{
    height:auto;
}

 